body
{
    background-image:url("../assets/image/main-bg-test .jpg");
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
    backface-visibility: hidden;

}


/*    HEADER SECTION*/

.main-header
{
    background:  rgba(0,0,0 ,0.5);
    height: 66px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.main-menu li a
{
    padding: 18px 15px;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;  
    color:#fff;
    font-weight:500;
    font-family: 'Open Sans', sans-serif;
    line-height: 29px;
    z-index:999;
    margin-left: 15.333333%;
    width:100%;
}

.main-menu li a::before,
.main-menu li a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background:#01FF9D;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.main-menu li a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.main-menu li a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.main-menu li a:hover,
.main-menu li a:focus {
    color:#01FF9D;
    font-weight: 500;
}

.main-menu li a:hover::before,
.main-menu li a:focus::before,
.main-menu li a:hover::after,
.main-menu li a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.nav>li>a:focus, .nav>li>a:hover 
{
    text-decoration: none;
    background-color: transparent;
    
}

.main-menu li a:hover
{
    background-color: transparent;
    color:#01FF9D;
    font-style:bold;
    width:100%;
    font-weight:600;

}
.main-menu li a:active
{

    background-color: transparent;
    color:#01FF9D;
    font-style:bold;
    width:100%;
    font-weight:600;
}
.nav>li>a:focus {
    text-decoration: none;
    background-color: none;
    color:#01FF9D;
    font-weight:700;
}

            /*  Vertical Navigation*/
.vNav 
{
    position: fixed;
    top: 140px;
    right: 15px;
    z-index: 9999;
    list-style-type: none;
}

.vNav ul {
    position: relative;
    padding: 3px;
    padding-left: 35%;
}

.vNav ul li{
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
    color: rgb(113,135,133);
}

.vNav a{
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(113,135,133);
    text-decoration: none;
}

.vNav a:hover{
    border-radius: 50%;
    background-color: #01FF9D;
    text-decoration: none;
}

.vNav a.active
{
    border-radius: 50%;
    background-color: #01FF9D;
    text-decoration: none;
}

.label
 {
    position: relative;
    top: -60%;
    left: -200%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: rgb(113,135,133);
    display: none;
}
    /* VIDEO SECTION*/    
.video-container 
{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 100%;
}

.video-container video
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.loading {
    background: black url(./assets/image/services_bg.png) center center no-repeat;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(19, 14, 10, 0.6); 
    color: white; 
}
.overlay-content
{
    position: relative;
    height: 100%;
    width: 100%;
}
.overlay-inner-div
{
    position: absolute;
    top:50%;
    width: 100%;
    min-height: 300px;
    margin-top:-150px;
}
.overlay-inner-div h2
{   
  
    font-size:42px;
}
.overlay-inner-div p
{
    font-size: 14px;
    color: #E4E2E3;
    line-height: 150%;
    margin: auto;
    width: 940px;
}
.pf-button
{
    position: absolute;
    top: 46px;

}
.portfolio-button .pf-button
{  
     position: absolute;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;

}
.button-nuka {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-nuka.button--inverted {
    color: #37474f;
}
.button-nuka::before,
.button-nuka::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    background: #01FF9D;
    z-index: -1;
}
.button-nuka::before {
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.button-nuka::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(1.1, 1, 1);
    transform: scale3d(1.1, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
}
.button-nuka::before,
.button-nuka::after
{
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-nuka.button--inverted::before,
.button-nuka.button--inverted::after {
    background: #fff;
}
.button-nuka:hover {
    color:#01FF9D; */
}
.button-nuka:hover::before {
    opacity: 1;
}
.button-nuka:hover::after {
    background-color: black;
}
.button-nuka.button--inverted:hover::after {
    background-color:  #57E0AC;
}
.button-nuka:hover::after,
.button-nuka:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}  

/*      ABOUT US */


.white-back
{  
   background-image: url('../assets/image/white_bg_test.png');
   padding-bottom: 200px;
   margin-left:15px;
   margin-right:15px;
}

.diamond-image
{
    position: absolute;
    left: 50%;
    margin-top: -105px;
    margin-left: -105px;
}
.white-back-innerdiv
{
    position: relative;
    top:100px;
    width:100%;
    min-height: 300px;
}
.white-back-innerdiv h2
{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    font-weight: 900;
    font-size: 32px;
}
.white-back-innerdiv p
{
    text-align: center;
    padding-top:30px;
    line-height: 182%;
    width:85%;
    font-size: 19px;
    margin:auto;

}
/*
            SERVICES SECTIONS   */

/*diamond section*/

#big_diamond 
{
    width: 62%;
    overflow: hidden;
    transform: rotate(-45deg);
    margin: 10px 21%;
}
.diamond
{
    cursor: pointer;
    color: #2c3e50;
    /*box-shadow: inset 0 0 0 3px #2c3e50;*/
    -webkit-transition: background 0.4s 0.5s;
    transition: background 0.4s 0.5s;
    /*border:1px solid #fff;*/
}

.diamond
{
    position: relative;
    display: inline-block;
    width: 20%;
    padding-bottom: 20%;
    margin: 1%;
    background:transparent;
    transition:background-color .4s;
    background-color: rgba(46,67,91,0.6);
    cursor: pointer;
    color: #2c3e50;
    -webkit-transition: background 0.4s 0.5s;
    transition: background 0.4s 0.5s;

}
.diamond-blank
{
  position: relative;
  display: inline-block;
  width: 20%;
  padding-bottom: 20%;
  margin: 1%;
  background:transparent;
  transition:background-color .4s;
}

.diamond-content
{
    position: relative;
    width:100%;
    height:100%;
}
.svg-icons
{  
    position: absolute;
    margin-left: 40%;
    margin-top: 20%;
    transform: rotate(45deg);
    z-index: 40;
    text-align: center;
    width: 40%;
}
.font-text
{
    position: absolute;
    margin-top: 60%;
    margin-left: -17%;
    width: 100%;
    transform: rotate(45deg);
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.diamond:hover 
{
    background: rgba(255,255,255,0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.diamond span 
{
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px;
}

.diamond h3,
.diamond span,.diamond:hover .font-text ,.diamond:hover .fa-icons {
    -webkit-transition: color 0.4s 0.5s;
    transition: color 0.4s 0.5s;
}

.diamond:hover h3,
.diamond:hover .font-text ,.diamond:hover .fa-icons {
    /*color: #fff;*/
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.diamond svg {
    position: absolute;
    top: 0;
    left: 0;
}

.diamond svg line {
    stroke-width: 3;
    /*stroke: #ecf0f1;*/
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.diamond:hover svg line {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.diamond svg line.top,
.diamond svg line.bottom {
    stroke-dasharray: 250 250; 
}

.diamond svg line.left,
.diamond svg line.right {
    stroke-dasharray: 250 250;
}

.diamond:hover svg line.top {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
}

.diamond:hover svg line.bottom {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

.diamond:hover svg line.left {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
}

.diamond:hover svg line.right {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
}

.diamond:hover .font-text, .diamond:hover .fa-icons{
    color:#01FF9D;
}

.diamond svg line {
    stroke-width: 8;
}

.diamond:hover svg line {
    stroke: #01FF9D;
}

.transparent-back
{
   padding-bottom: 200px;
   margin-left:15px;
   margin-right:15px;
}
.transparent-back-innerdiv
{
   position: relative;
   top:100px;
   width:100%;
}
.transparent-back-innerdiv h2
{
   text-align: center;
   text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
   font-weight: 900;
   font-size: 32px; 
   color:#fff;
}


       /*Expertise Section*/


#myTab
{
    top: 66px;
    position: relative;
}
.servicesTab {margin-top: 30px;}

.nav-tabs>li { width:12.5%; height: 140px;  border:thin solid #d8d8d8; border-left: 0px; font-size: 20px;overflow: hidden;}
.nav-tabs>li  span{font-size: 14px;}
.nav-tabs>li>a { margin-right: 0px; line-height: 22px; border: 0px;  border-radius: 0px; }
.exprt-nav>li>a {   text-align: center;position: relative;display: block;padding: 46px 25px; color:#4d4d4d;}
.nav-tabs>li:last-child {border-right: 0px;}
.nav-tabs>li:nth-child(1) a{font-size: 21px;text-align: center;}
.nav-tabs>li:nth-child(2) a{line-height: 46px;font-size: 21px;text-align: center;}
.tab-content>.tab-pane{}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #d68d16; font-weight:bold;background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ff3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(255,255,255,1)), color-stop(56%, rgba(234,234,234,1)), color-stop(100%, rgba(234,234,234,1))); /* safari4+,chrome */background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* safari5.1+,chrome10+ */background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ie10+ */background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* w3c */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* ie6-9 */border: 0px;border-bottom-color: transparent;
cursor: default;}
.nav-tabs>li>a:hover {border-color: #eee #eee #ddd;}
.exprt-nav>li>a:hover, .exprt-nav>li>a:focus {text-decoration: none;background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ff3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(255,255,255,1)), color-stop(56%, rgba(234,234,234,1)), color-stop(100%, rgba(234,234,234,1))); /* safari4+,chrome */background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* safari5.1+,chrome10+ */background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ie10+ */background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* w3c */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* ie6-9 */color: #d68d16;}

.panel-default> .active {color: #d68d16; font-weight:bold;background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%) !important; /* ff3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(255,255,255,1)), color-stop(56%, rgba(234,234,234,1)), color-stop(100%, rgba(234,234,234,1)));  !important/* safari4+,chrome */background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%) !important; /* safari5.1+,chrome10+ */background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%) !important; /* opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ie10+ */background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%) !important; /* w3c */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ) !important; /* ie6-9 */border: 0px;border-bottom-color: transparent;
cursor: default;}
.nav-tabs>li>a:hover {border-color: #eee #eee #ddd;}
.exprt-nav>li>a:hover, .exprt-nav>li>a:focus {text-decoration: none;background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ff3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(255,255,255,1)), color-stop(56%, rgba(234,234,234,1)), color-stop(100%, rgba(234,234,234,1))); /* safari4+,chrome */background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* safari5.1+,chrome10+ */background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* opera 11.10+ */background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* ie10+ */background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(234,234,234,1) 56%, rgba(234,234,234,1) 100%); /* w3c */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* ie6-9 */color: #d68d16;}
.tabHeadText {text-align: center;
font-size: 25px;
color: black;
/* font-weight: bolder; */
margin-top: 78px;}
.comUl {position: relative;margin: 0px;padding: 0px;padding-top: 60px;text-align: center;}
.comUl li {display: inline-block;padding: 10px 20px;text-align: center;vertical-align: middle;}
.uxUl li { height: 140px;}
.uiDeveloper {position: relative;}
.uiDeveloper li {padding: 20px;position: relative;min-height: 100px;vertical-align: bottom;}
.comUl li .img-ux {padding-bottom: 20px; height: 80px; vertical-align: middle;}
.comUl li .subText
{text-align: center;
vertical-align: top;
text-align: center;
vertical-align: top;
font-size: 16px;
color: black;}

@-webkit-keyframes moveFromTop {
        from {
            opacity: 0;
            -webkit-transform: translateY(-80%);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
    @-moz-keyframes moveFromTop {
        from {
            opacity: 0;
            -moz-transform: translateY(-80%);
        }
        to {
            opacity: 1;
            -moz-transform: translateY(0%);
        }
    }
    @-ms-keyframes moveFromTop {
        from {
            opacity: 0;
            -ms-transform: translateY(-80%);
        }
        to {
            opacity: 1;
            -ms-transform: translateY(0%);
        }
    }



    .fadeIn {

/* CSS needed for animation
---------------------------------------------------- */
opacity:0;
-webkit-animation:moveFromTop ease-in 1;
-moz-animation:moveFromTop ease-in 1;
-o-animation:moveFromTop ease-in 1;
animation:moveFromTop ease-in 1;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}

.anim{opacity: 0;}
.fadeInNew {

/* CSS needed for animation
---------------------------------------------------- */
opacity:0;
-webkit-animation:fadeIn ease-in 1;
-moz-animation:fadeIn ease-in 1;
-o-animation:fadeIn ease-in 1;
animation:fadeIn ease-in 1;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}
.fadeIn-1s {
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    -o-animation-duration:.5s;
    animation-duration:.5s;
}
.fadeIn-2s {
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}

/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-1s {
    -webkit-animation-delay:.2s;
    -moz-animation-delay:.2s;
    -o-animation-delay:.2s;
    animation-delay:.2s;
}

.fadeIn-Delay-2s {
    -webkit-animation-delay:.4s;
    -moz-animation-delay:.4s;
    -o-animation-delay:.4s;
    animation-delay:.4s;
}
.fadeIn-Delay-3s {
    -webkit-animation-delay:.6s;
    -moz-animation-delay:.6s;
    -o-animation-delay:.6s;
    animation-delay:.6s;
}
.fadeIn-Delay-4s {
    -webkit-animation-delay:.8s;
    -moz-animation-delay:.8s;
    -o-animation-delay:.8s;
    animation-delay:.8s;
}

.fadeIn-Delay-5s {
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}

.fadeIn-Delay-6s {
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -o-animation-delay:1.2s;
    animation-delay:1.2s;
}

.fadeIn-Delay-7s {
    -webkit-animation-delay:1.4s;
    -moz-animation-delay:1.4s;
    -o-animation-delay:1.4s;
    animation-delay:1.4s;
}

.fadeIn-Delay-8s {
    -webkit-animation-delay:1.6s;
    -moz-animation-delay:1.6s;
    -o-animation-delay:1.6s;
    animation-delay:1.6s;
}

.fadeIn-Delay-9s {
    -webkit-animation-delay:1.8s;
    -moz-animation-delay:1.8s;
    -o-animation-delay:1.8s;
    animation-delay:1.8s;
}
.fadeIn-Delay-10s {
    -webkit-animation-delay:2s;
    -moz-animation-delay:2s;
    -o-animation-delay:2s;
    animation-delay:2;
}
.fadeIn-Delay-11s {
    -webkit-animation-delay:2.2s;
    -moz-animation-delay:2.2s;
    -o-animation-delay:2.2s;
    animation-delay:2.2s;
}

.fadeIn-Delay-12s {
    -webkit-animation-delay:2.4s;
    -moz-animation-delay:2.4s;
    -o-animation-delay:2.4s;
    animation-delay:2.4s;
}

.fadeIn-Delay-13s {
    -webkit-animation-delay:2.6s;
    -moz-animation-delay:2.6s;
    -o-animation-delay:2.6s;
    animation-delay:2.6s;
}

.fadeIn-Delay-14s {
    -webkit-animation-delay:2.8s;
    -moz-animation-delay:2.8s;
    -o-animation-delay:2.8s;
    animation-delay:2.8s;
}

.fadeIn-Delay-15s {
    -webkit-animation-delay:3s;
    -moz-animation-delay:3s;
    -o-animation-delay:3s;
    animation-delay:3s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/* media queries */

@media all and (max-width: 1120px){
    .sectionWrapper{width:980px; padding-left: 10px; padding-right: 10px;}
    .exprt-nav>li>a {padding: 46px 10px;}
    .nav-tabs>li {width: 160px;}
}





       /* PORTFOLIO SECTION */

figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: auto;
    width: 100%;
    background: #3085a3;
    text-align: center;
}

figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
    pointer-events: none;
}

figure figcaption,
figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure p {
    margin: 0;
}

figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-213%,0);
}

figure.effect-apollo p {
    position: absolute;
    /*margin: 3em;*/
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
figure.effect-apollo {
    background: #3498db;
}

.port-container
{
    position: relative;
    width: 100%;
    margin: 0;
}
.port-container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.port-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.portfolio-header
{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -105px;
    margin-left: -105px;
}

.portfolio-image {
    width: 100%;
    height: 100%;
}

.portfolio-content {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* position specific styling*/

.portfolio1 figure.effect-apollo{
    position: absolute;
    -webkit-clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
    width: 100%;
    margin: 0;
    top: 0;
}
.portfolio1 figure.effect-apollo p {
    left: 50%;
    top: 25%;
    margin-top:-75px;
    margin-left:-75px;
}
.portfolio2 figure.effect-apollo{
    position: absolute;
    -webkit-clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
}
.portfolio2 figure.effect-apollo p {
    left: 75%;
    top: 50%;
}
.portfolio3 figure.effect-apollo{
    position: absolute;
    -webkit-clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
    clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
    width: 100%;
    margin: 0;
    bottom: 0;
}
.portfolio3 figure.effect-apollo p {
    left: 50%;
    top: 75%;
    margin-top:-75px;
    margin-left:-75px;
}
.portfolio4 figure.effect-apollo{
    position: absolute;
    -webkit-clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
}

.portfolio4 figure.effect-apollo p {
    left: 25%;
    top: 50%;
}

/*  STATISTICS SECTION */
.counter-bcak-content
{
    padding-top:50px;
    text-align: center;
}
.counter
{
    font-size:50px;
  
}
  
/*  Approach Section*/


.icon-box
{
    padding-top:60px;
    color:#fff;
}
.icon-text
{
    margin: 20px 31px;
    padding-left: 18%;
}
.iconing i {
    font-size: 35px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 80px;
    height: 80px;
    line-height: 80px;
}
/*  Contact us*/

.form-group
{
    margin-bottom: 15px;
}
.fm-aln 
{
    margin-bottom: 15px;
    width: 133%;
}
textarea.form-control
{
    height: auto;
}
textarea {
    resize: none;
}
.bacg-innerdiv
{
 margin-top: 20px;
}
.bacg-innerdiv h4
{
    color: #01FF9D;
    font-size:18px;
    padding-top: 25px;  
}
.bacg-innerdiv p
{
    color: black;
    font-size: 15px;
    text-align: left;
    width: 100%;
    padding-top: 0;
}

/* Footer*/

#footer
{
    padding:20px 0 10px 0;
    height:127px;
    background-color:transparent;
}

.fa-wrap
{
    display: inline-block;
    margin: 14px 7px;
    font-size: 30px;
    color: #fff;
    border: 1px solid none;
    border-radius: 50%;
    width: 45px;
    text-align: center;
    height: 48px;
    text-align: center;
    line-height: 45px;
    opacity: 0.5;

}
#social-icon a .fa-skype:hover
{   color:#00aced;

}
#social-icon a .fa-facebook:hover
{
    color:#3b5998;
}
#social-icon a .fa-twitter:hover
{
    color:#55acee;
}
#social-icon a .fa-google-plus:hover
{
    color:#dd4b39;
}
#social-icon a .fa-linkedin-square:hover
{
    color:#007bb5;
}
.footer-notes
{
    color:#fff;
    margin-top: 0%;
    opacity: 0.4;
}
.footer-notes p
{
    font-size:12px;
}

 /* company page */
 .innerdiv-text
 {
    position: relative;
    width:100%;
    height:100%;
    padding-top:97px;
 }
 .innerdiv-text h2
 {
    text-align:left;
    color:#fff;
    padding-top:45px;
 }
 .innerdiv-text p
 {
   padding-top:10px;
   color:#fff;
   text-align:left;
   line-height: 180%;
   font-size:15px;
 }
 .innerdiv-image
 {
    padding-top:130px;
 }
 .blue-back
 {
    background-image:url('../assets/image/company/01-Awards Bg.png');
    margin-left:15px;
    margin-right:15px;
    padding-bottom: 150px;
 }
 .blue-back-innerdiv
 {
    position: relative;
    width:100%;
 }
 .light
 {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
 }
 .light img
 {
    position: absolute;
 }
  /*------------------------------------
               SERVICE Page
    --------------------------------------*/
 /*botton sonar affect*/


.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin:auto;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.hi-icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hi-icon-effect-8  .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8  .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.hi-icon-effect-8  .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.hi-icon-effect-8  .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
 .hi-icon-effect-8 li a
 { 
    margin:10px 20px;
 }
 .back-content
 {
    position: relative;
    background-image: url('../assets/image/white_bg_test.png');
    width:98%;
    padding-bottom:280px;
    top:65px;
    margin-left:15px;
 }
 .back-innerdiv #font_icon
 {
    margin-left:10%;
 }
 .back-innerdiv #pf-font_icon
 {
    margin-left:16%;
 }
 .back-innerdiv
 {
    position: relative;
    top:100px;
    width:100%;
    min-height: 300px;
 }
 .back-innerdiv h2
{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    font-weight: 900;
    font-size: 32px;
}
.back-innerdiv p
{
    text-align: center;
    padding-top:30px;
    line-height: 182%;
    width:85%;
    font-size: 19px;
    margin:auto;

}
.service-innerdiv
{
    position: relative;
    margin-top:9%;
}
.service-innerdiv-image
{
    top: 80px;
    position: relative;
}

.hr-line
{
    margin-top: 10%;
    border-top: 1px solid #545454;
}

   /*------------------------------------
              Approach Page-
    --------------------------------------*/
.st-panel-innerdiv
{ position: relative;
  width:100%;
  height:100%;
  margin:auto;
}

.image-align-center
{ 
    width:60%;
    margin-top:25px;
    margin-left: 21%;
}
#st-panel-1 h2
{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    font-weight: 900;
    font-size: 32px;
}
.st-panel-odd
{
    position: absolute;
    width:50%;
    height:100%;
    margin:15px 25%;
}
.st-panel-odd h2
{   
    color:#fff;
    text-align: center;
    padding-top:114px;

}
.st-panel-odd h3
{
  font-size:26px;
  color:#fff;
}
.st-panel-odd p
{
  font-size:16px;
  color:#fff;
}
.st-panel-even
{
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 15px 25%;
}
.st-panel-even h2
{
  color:black;
  text-align: center;
  padding-top: 130px;
}
.st-container 
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:65px;
    
}

.st-container > input,
.st-container > a {
    position: fixed;
    bottom: 0px;
    width: 20%;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    line-height: 48px;
}

.st-container > input {
    opacity: 0;
    z-index: 1000;
}

.st-container > a {
    z-index: 10;
    font-weight: 700;
    background-color: rgba(46,67,91,0.6);;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    z-index: 9;

}



#st-control-2, #st-control-2 + a {
    left: 20%;
}

#st-control-3, #st-control-3 + a {
    left: 40%;
}

#st-control-4, #st-control-4 + a {
    left: 60%;
}

#st-control-5, #st-control-5 + a {
    left: 80%;
}

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
    background-color: rgba(46,67,91,0.8);
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
    bottom: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color:rgba(46,67,91,0.8);;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.st-container > input:hover + a{
    background-color: rgba(46,67,91,0.6);
}

.st-container > input:hover + a:after {
    border-bottom-color: #AD244F;
}

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 900px;
}


.st-scroll {
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.st-panel{
    background: #fff;
    overflow: hidden;
} 

#st-control-1:checked ~ .st-scroll {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
    transform: translateY(-400%);
}


/* Content elements */

.st-deco{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -100px;
    background: #fa96b5;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 90px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    -webkit-transform: rotate(-45deg) translateY(25%);
    -moz-transform: rotate(-45deg) translateY(25%);
    -o-transform: rotate(-45deg) translateY(25%);
    -ms-transform: rotate(-45deg) translateY(25%);
    transform: rotate(-45deg) translateY(25%);
}



#st-control-1:checked ~ /*.st-scroll*//* #st-panel-1 h2*/,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
    0% { 
        -webkit-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px);  
        opacity: 1;
    }
}

@-moz-keyframes moveDown{
    0% { 
        -moz-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -moz-transform: translateY(0px);  
        opacity: 1;
    }
}

@-o-keyframes moveDown{
    0% { 
        -o-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -o-transform: translateY(0px);  
        opacity: 1;
    }
}

@-ms-keyframes moveDown{
    0% { 
        -ms-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -ms-transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
    -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
    0% { 
        -webkit-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px);  
        opacity: 1;
    }
}

@-moz-keyframes moveUp{
    0% { 
        -moz-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -moz-transform: translateY(0px);  
        opacity: 1;
    }
}

@-o-keyframes moveUp{
    0% { 
        -o-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -o-transform: translateY(0px);  
        opacity: 1;
    }
}

@-ms-keyframes moveUp{
    0% { 
        -ms-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -ms-transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveUp{
    0% { 
        transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

/* Colored sections */

.st-color,
.st-deco{
   background-color: rgb(46,67,91);
}
.st-color [data-icon]:after {
    color: black;
}
.st-color .st-deco {
    background: #fff;
}

/*  Approach section End here*/


/*------------------------------------
             Company Page 
--------------------------------------*/
 .pf-box
 {
   padding-left: 30px;
    width: 19%;
    height: 350px;
    border: 1px solid #fff;
    background-color: rgba(87,104,123,0.6);
    margin-left: 44px;
 }
 .pf-box h3
 {
   color:#01FF9D;
 }
 .pf-box h6
 {
    color:#fff;
 }
 

 .pf-box p
 {
    color:#fff;
 }
 .ux-detail-content
 {
   width:100%;
   height:100%;
   padding-top:50px;
   padding-bottom:15px;
 }
 .ux-detail-content img
{
    padding: 4%;
    padding-left: 27%;
}
.image
 {
    position: relative;
    top: 284px;
    left: -20%;
}
 .image img
 {
    width:54%;
 }
.info
{
    margin-left: 43%;
    margin-top: 96px;
}
.info p
{
    color:#fff;
    font-size:20px;
}



  /*Slider Section*/
.slider
{
    background-image: url('../assets/image/white_bg_test.png');
    width: 98%;
    height: 650px;
    margin-left:15px;
 }

.slider h2
{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    font-weight: 900;
    font-size: 32px;
    padding-top:50px;
}

.dg-container
{
    width: 100%;
    height: 650px;
    position: relative;
   
}

.dg-wrapper
{
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
.dg-wrapper a
{
    width: 482px;
    height: 316px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    background: transparent url(../assets/image/company/browser.png) no-repeat top left;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dg-wrapper a img
{
    display: block;
    padding: 41px 0px 0px 1px;
}
.dg-wrapper a div
{
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    color: #333;
    font-size: 16px;
    width: 127%;
    bottom: -62px;
    display: none;
    position: absolute;
}
.dg-wrapper a.dg-center div
{
    display: block;
}
.dg-container nav
{
    width: 58px;
    position: absolute;
    z-index: 1000;
    top: 451px;
    left: 50%;
}
.dg-container nav span
{
    text-indent: -9000px;
    float:left;
    cursor:pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
    background: transparent url(../assets/image/company/arrows.png); 
}
.dg-container nav .dg-prev
{
    text-indent: -9000px;
    float:left;
    cursor:pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
    background: transparent url(../assets/image/company/arrows.png)right;
}
.dg-container nav .dg-prev
{
    text-indent: -9000px;
    float:left;
    cursor:pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
   background: transparent url(../assets/image/company/arrows.png)right;
}
.dg-container nav span:hover
{
    opacity: 1;
}













/*------------------------------------
             Portfolio Page 
--------------------------------------*/

#font_icon 
{
    position: absolute;
    z-index: 40;
}
#font_icon i
{
    display: inline-block; 
    font-size: 57px;
    color: grey;
    border: 1px solid grey;
    border-radius: 50%;
    width: 100px;
    text-align: center;
    height: 100px;
    text-align: center;
    line-height: 99px;
    z-index:40;
}
.item-desc
{
    padding-top:5px;
    color:#fff;
}
.fa-wrap {
    display: inline-block;
    margin: 14px 7px;
    font-size: 30px;
    color: #fff;
    border: 1px solid none;
    border-radius: 50%;
    width: 45px;
    text-align: center;
    height: 48px;
    text-align: center;
    line-height: 45px;
    opacity: 0.5;
}
.filtr-container 
{
    margin-top: 10%;

}
.filtr-container :after {
    content: "";
    display: block;
}
.filter-content
{
    position: absolute;
    width: 100%;
}
.port-ios,.port-android,.port-web,.port-social,.port-gaming
{
  margin-top:20px;
}


/*common classes*/

.pad-btm-200
{
    padding-bottom:210px;
}
.pad-btm-245
{
    padding-bottom:245px;
}
.pad-btm-130
{
    padding-bottom:130px;
}
.pad-top-40
{
   padding-top:40px;
}
.active
{
    color:#01FF9D;
}








   /*------------------------------------
              MEDIA QUERIES
    --------------------------------------*/


@media(min-width:992px ) and (max-width: 1024px)
{
 .hi-icon-effect-8 li a 
{
    margin: 10px 8px;
}

.back-content 
{ 
    width: 97%; 
}
.pf-button
{
    top: 60px;
}


}

@media(min-width:768px ) and (max-width:991px)
{

.hi-icon-effect-8 li a 
{
    margin: 10px -4px;
}
.overlay-inner-div h2 
{
    font-size: 32px;
}

.overlay-inner-div p
 {
    font-size: 15px;
    width: 700px;
}
.pf-button
{
    top: 60px;
}
.pf-box
 {
    padding-left: 30px;
    width: 37%;
    height: 350px;
    border: 1px solid #fff;
    background-color: rgba(87,104,123,0.6);
    margin-left: 25px;
    margin-top: 11px;
}
.ux-detail-content 
{
    margin-left: 10%;
}

.service-innerdiv img
{
   padding-top: 45px;
}
.innerdiv-text h2
{
    
  padding-top: 45px;
}

.image 
{
    position: relative;
    top: 160px;
    left: 47%;
}
.light
 {
    
    left: -20%;
}
.light img
{
    margin:10px 10px 20px 20px;
}


.image img
{
    width: 48%;
    margin: 10px 20px;
}
.info 
{
    margin-left: 20%;
    margin-top: 158px;
    margin-right: 20%;
}
.info p
{
    padding: 36px 10px 10px 10px;
}
.back-content 
{ 
    width: 97%; 
}
#about-us .diamond-image ,#services .diamond-image
{
    margin-top: -105px;
    margin-left: -110px;
}
.font-text
{
   font-size: 12px; 
}

}
@media(min-width:411px ) and (max-width:768px) 
{
.video-container
{
   padding-bottom:0%; 
}

#about-us .diamond-image ,#services .diamond-image
{
    margin-top: -105px;
    margin-left: -110px;
}



#expertise .diamond-image,#approach .diamond-image,#contact .diamond-image
{
    margin-top: -106px;
    margin-left: -102px;
}
#big_diamond
{
 margin: 15px 10%;
}
.video-container video
{
     position: relative; 
}
.overlay-inner-div
{
    top: 51%;
}
.overlay-inner-div h2
{
    
    font-size: 22px;
}
.overlay-inner-div p 
{
    font-size: 13px;
    width: 600px;
}
.pf-button
{
    left: 0%;
    top: 50px;
}

.service-innerdiv img
{
   padding-top: 255px;
}
.innerdiv-text h2
{
    
  padding-top: 45px;
}
.main-menu
{
    background-color:black;
}
.pf-box
{
    width: 38%;
    height: 350px;
    border: 1px solid #fff;
    background-color: rgba(87,104,123,0.6);
    margin-left: 25px;
    margin-top: 16px;


}
.image 
{
    position: relative;
    top: 160px;
    left: 47%;
}
.light
 {
    
    left: -20%;
}
.light img
{
    margin:10px 10px 20px 20px;
}


.image img
{
    width: 48%;
    margin: 10px 20px;
}
.info 
{
    margin-left: 20%;
    margin-top: 158px;
    margin-right: 20%;
}
.info p
{
    padding: 36px 10px 10px 10px;
}

}
@media (max-width: 411px) and (min-width:360px)
{
.overlay-inner-div 
{
    top: 50%;
    
}
.overlay-inner-div p 
{
    font-size: 13px;
    width: 380px;
}
.pf-button 
{
    left: 6%;
    top: 71px;

}

.pf-box
{
    width: 81%;
}
.white-back-innerdiv h2
{
     font-size: 22px;
}
.white-back-innerdiv p 
{   
    text-align: left;
    padding-top: 30px;
    line-height: 182%;
    width: 85%;
    font-size: 19px;
    margin: auto;
}
.back-innerdiv
{
    position: relative;
    top: 17px;
}
.back-innerdiv p
{
    font-size: 19px;
    text-align:left;
}
.back-innerdiv h2
{
  font-size: 22px;
}
.transparent-back-innerdiv h2
{
  font-size: 22px;
}
.video-container video
 {
     position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
}

